

.forecastCard{
    background-color: lightgray;
    margin-left: 20px;
    margin-bottom: 20px;
}

.currentDayCard{
    background-color: lightgray;
    border-style: dashed;
    margin-bottom: 20px;
}

.severe{
    color: red;
    font-weight: bold;
}

.moderate{
    color: orange;
    font-weight: bold;
}

.mild{
    color: green;
    font-weight: bold;
}

p{
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
}